body{
    margin: 0;
}
#divHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    background-color: black;
    border-bottom: solid 2px rgb(0, 200, 200);
}
#divTitulo{
    width: 50%;
}
#divPages{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: orange;
    font-size: large;
}
.blue{
    color: rgb(0, 200, 200);
    font-weight: bold;
    white-space: nowrap;
}
#divBanner{
    width: auto;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('images/bg-jelly-fish-para_outras_pags.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#divSlogan{
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: white;
    font-size: 3em;
}
#divSocial{
    display: flex;
    justify-content: space-evenly;
}
.divCard{
    width: 250px;
    margin: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: rgb(220, 220, 220);
    font-size: 21px;
    border-radius: 10px;
}
.cardTitulo{
    display: flex;
    justify-content: center;
}
